<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7151524792505011"
     crossorigin="anonymous"></script>
    <script data-ad-client="ca-pub-7151524792505011" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="Description" CONTENT="Yared Hurisa is a certified applied scientist passionate about building data science products that could serve vulnerable populations.">
    <meta name="google-site-verification" content="google1b28703d9c835e86"/>
    <title>Yared Lemma Hurisa: Data Science for Peace</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J8FRH9E8ZK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J8FRH9E8ZK');
</script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <!-- Bootstrap core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="../static/css/clean-blog.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Yared Hurisa, Applied Scientist</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('../static/img/peace.jpg')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
            <div class="page-heading">
              <h1>Data Science for Peace</h1>
              <span class="subheading">I am a certified data scientist passionate about building data science products that could serve vulnerable populations.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

<i><p>As we were leaving the camp, I wondered whether refugee and IDP camps are a sign of compassion towards displaced people, or are they signs of how far humans have gone in causing harm to each other?</p>
<p>Louis Yako in goodreads.com</p></i>

<h1><a href="http://www.datascienceforpeace.com/about">About me</a></h1>
  <p>Born and raised in rural Ethiopia, I have been watching as my country makes the headlines on conflict and climate change induced disasters especially in recent years. Hence, for me, there is nothing like working on projects that reduce the impact of natural and manmade disasters. This include saving the lives and livelihoods of the affected populations as well as supporting them to survive and thrive in post disaster situation.</p>
  
  <p>With background in data science and international development, I focus on researching the interplay between conflict, displacement and climate change. I am currently working on projects that broadly adress the following questions:</p>
    <ul>
      <li>What is the probability of conflict at sub-national level?</li>
      <li>What is the pattern and magnitude of forced displacement within and across countries?</li>
      <li>What is the relative importances of the causes of conflict and displacement?</li>
    </ul> 
    <a href="http://www.datascienceforpeace.com/about" class="btn btn-primary">Find out more about me!</a>
<p></p>
    <h1><a href="http://www.datascienceforpeace.com/blog">Blog</a></h1>
    <p>I believe that documenting and sharing experiences and knowledge is the best way to create impact. Bloging is a sccussful means to explore hobbies, share information, and promote a good cause. I want to do exactly this in my <a href="http://www.datascienceforpeace.com/blog">blog page</a> where you could find some of the insights I ceate using data science techniques such as big data analysis, machine learning (ML) and artificial intelligence (AI).</p>
    <a href="http://www.datascienceforpeace.com/blog" class="btn btn-primary">Read latest blog posts!</a>
    <P></P>
    <ul><i><u>
      <li><a href="http://www.datascienceforpeace.com/post/analysis-of-pm-abiy-ahmeds-tweets-and-public-response-cloud-of-words-and-sentiment">Analysis of PM Abiy Ahmed’s Tweets and Public Response</a></li>
      <li><a href="http://www.datascienceforpeace.com/post/Conflict-event-reporting-in-Ethiopia-and-media-bias">Conflict event reporting in Ethiopia and media bias</a></li>
      <li><a href="http://www.datascienceforpeace.com/post/conflict-in-northern-Ethiopia">Counting the loss of civilian lives due to the ongoing conflict in northern Ethiopia (Tigray)</a></li>
      <li><a href="http://www.datascienceforpeace.com/post/conflict-trends-in-ethiopia-part-2-climate-change-and-conflict-a-correlation-analysis">Conflict Trends in Ethiopia: Part 2-The role of climate change</a></li>
      <li><a href="http://www.datascienceforpeace.com/post/toward-data-science-for-peace-part-3">Conflict Trends in Ethiopia: Part 1</a></i></u>
      </li>
  </ul>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/yaredlemma6" target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          <li class="list-inline-item">
             <a href="https://www.linkedin.com/in/yared-lemma/" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  
                  <i style="font-size:52px" class="fa">&#xf08c;</i>
                </span>
             </a>
          <li class="list-inline-item">
              <a href="https://github.com/ylh4" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          

          </li>
        </ul>
        <p class="copyright text-muted">
          Copyright &copy; Yared Hurisa 2021  <a href="../static/img/Privacy-policy-v2-7424309-edited.pdf">Privacy Policy</a> </p> 
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/clean-blog.min.js"></script>
<script type="text/javascript"> var infolinks_pid = 3320528; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>
