<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S4D1LCR3VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S4D1LCR3VC');
</script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>portfolio-yared-hurisa</title>

    <!-- Bootstrap core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="../static/css/clean-blog.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Yared Hurisa, Applied Scientist</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('../static/img/modeling.png')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Analysis and Modeling</h1>
              <span class="subheading">I am dedicated to harnessing the field of data science to unpack pressing issues that affect peace and development. My current projects include modeling forced displacement, conflict, and land-use changes primarly in East African countries.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!-- Post Content -->
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

  <p class="lead">

  <blockquote class="blockquote">
    <p class="mb-0">As we were leaving the camp, I wondered whether refugee and IDP camps are a sign of compassion towards displaced people, or are they signs of how far humans have gone in causing harm to each other?</p>
    <footer class="blockquote-footer">Louis Yako in
      <cite title="Source Title">goodreads.com</cite>
    </footer>
  </blockquote>
    <p>The interplay between conflict, displacement and climate change are my research interests. I also acknowledge the challenge in terms of having a testable hypothesis to study the issue of forced displacement as a whole due to the existance of multi-directional relationship. For simplicity, I am taking a direct apporach to modeling each trends separately and find ways of integrating the models along the way. My current projects adress the following questions:</p>
    <ul>
      <li>What is the pattern and magnitude of forced displacement?</li>
      <li>What is the probability of conflict ? </li>
      <li>What is the role of land-use change as a displacement?</li>
    </ul> 
  <hr>

    <!-- Main Content -->
    <div class="container">
      <!-- Page Features -->
      <div class="row text-center">
  
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="static/img/conflict.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Conflict</h4>
         
            </div>
            <div class="card-footer">
              <a href="http://www.yaredhurisa.com/conflict" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="static/img/forced_displacement.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Forced Displacement</h4>
     
            </div>
            <div class="card-footer">
              <a href="http://www.yaredhurisa.com/displacement" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="static/img/land_use.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Land use change</h4>
             
              
            </div>
            <div class="card-footer">
              <a href="http://www.yaredhurisa.com/landuse" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
  
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
   
   

<hr />

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/yaredlemma6" target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          <li class="list-inline-item">
             <a href="https://www.linkedin.com/in/yared-lemma/" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  
                  <i style="font-size:52px" class="fa">&#xf08c;</i>
                </span>
             </a>
          <li class="list-inline-item">
              <a href="https://github.com/ylh4" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          

          </li>
        </ul>
        <p class="copyright text-muted">
          Copyright &copy; Yared Hurisa 2021
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/clean-blog.min.js"></script>
</body>
</html>
